<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Manage_Data.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="Manage_Data.Properties.Settings.ADMTConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ADMT.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Illustration1.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Manage_Data.Properties.Settings.StudentConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Student.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Manage_Data.Properties.Settings.Illustration1ConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Illustration1.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Manage_Data.Properties.Settings.Illustration1ConnectionString1"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Illustration1.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="Manage_Data.Properties.Settings.SSDConnectionString"
      connectionString="Data Source=|DataDirectory|\SSD.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Manage_Data.Properties.Settings.illustrationConnectionString"
      connectionString="Data Source=|DataDirectory|\illustration.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="ConnString1" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Illustration1.mdb;Persist Security Info=True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>